<a href="https://colab.research.google.com/github/lisabortiz/Data-Science-Portfolio/blob/main/ABQ_Business_Registration_SQL_ExampleContest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project SQL - Chinook

## ABQ Business data set

See the lecture on SQLite3 using the ABQ data set to set up the software, database, and tables, as well as for the links to ancillary information about the data set.

In [ ]:
# Install the sqlite package for Ubuntu
# Download the Business Registration from ABQ website

In [ ]:
import pandas as pd
import sqlite3 as db
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import sklearn

In [ ]:
base_path ="https://data.cabq.gov/business/busregistration/"
train_path = base_path + 'BusinessRegistrationCABQ-en-us.csv'

In [ ]:
train_path

'https://data.cabq.gov/business/busregistration/BusinessRegistrationCABQ-en-us.csv'

In [ ]:
train_orig = pd.read_csv(train_path)
train_orig

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte

In [ ]:
train_orig = pd.read_csv(train_path, encoding="utf-16")
train_orig

ParserError: Error tokenizing data. C error: Expected 1 fields in line 6, saw 2

In [ ]:
train_orig = pd.read_csv(train_path, encoding="utf-16", delimiter="\t")
train_orig

/tmp/ipython-input-277896432.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  train_orig = pd.read_csv(train_path, encoding="utf-16", delimiter="\t")

,REGISTRATIONNUM,TYPE,TYPEABBREVIATION,STATUS,EFFECTIVESTATUS,OWNEDBY,LEGALNAME,DOINGBUSINESSAS,BUSINESSDESCRIPTION,CONTACTNAME,...,POST_DIRECTION,CITY,STATE,ZIP,ORIGNALISSUEDATE,MOSTRECENTISSUEDATE,EXPIRATIONDATE,NAICSCODE,NAICSCODESECTOR,FILEEXPORTDATE
0,HB-2017-347367,Home Business,HB,Expired,Expired,J A VARGAS CONSTRUCTION INC \r\n,J A VARGAS CONSTRUCTION INC,JUL HOMES,NaN,JULIAN A VARGAS,...,,,,,11/06/2017,09/19/2018,11/05/2019,23.0,Construction,2025-08-30 03:32:44
1,HB-2018-348267,Home Business,HB,Expired,Expired,ZULIA RAMOS MOLINA \r\n,ZULIA RAMOS MOLINA,ZULIA RAMOS MOLINA,NaN,ZULIA RAMOS MOLINA,...,,,,,01/16/2018,01/16/2018,01/15/2019,81.0,Other Services (except Public Administration),2025-08-30 03:32:44
2,BRC-2015-333714,Business Registration Conversion,BRC,Expired,Expired,MAGNUM INSURANCE \r\n,MAGNUM INSURANCE,MAGNUM INSURANCE,NaN,MAGNUM INSURANCE,...,,,,,07/01/2016,06/15/2017,07/08/2018,NaN,NaN,2025-08-30 03:32:47
3,HB-2023-375633,Home Business,HB,Expired,Expired,LIFTOFF LLC \r\n,LIFTOFF LLC,LIFTOFF LLC,NaN,JODY VALDEZ,...,,,,,05/08/2023,05/08/2023,05/07/2024,81.0,Other Services (except Public Administration),2025-08-30 03:32:52
4,HB-2023-373943,Home Business,HB,Active,Active,MICHAEL CASTILLO \r\n,"Noble Mechanical, llc",NaN,Mechanical Contractor,MICHAEL CASTILLO,...,,,,,01/23/2023,01/22/2024,01/22/2025,238.0,Construction,2025-08-30 03:32:54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109609,COM-2024-384043,Commercial,COM,Active,Active,Anthony Dickson \r\n,Anothony N Dickson,Outlaw Recovery and Towing,Towing company,Anthony Dickson,...,,,,,11/13/2024,11/13/2024,11/12/2025,81.0,Other Services (except Public Administration),2025-08-30 04:17:24
109610,HB-2024-383972,Home Business,HB,Active,Active,Rebeca Flores \r\n,Rebeca Flores,Flores House Cleaning,cleaning services,Rebeca Flores,...,,,,,11/06/2024,11/06/2024,11/05/2025,81.0,Other Services (except Public Administration),2025-08-30 04:17:25
109611,HB-2024-384461,Home Business,HB,Active,Active,Yoga with Cascade LLC \r\n,Yoga with Cascade LLC,NaN,Yoga Education Classes and Retreats,Cascade Lineback,...,,,,,12/19/2024,12/19/2024,12/18/2025,61.0,Educational Services,2025-08-30 04:17:31
109612,HB-2024-384417,Home Business,HB,Active,Active,Anew Veracity LLC \r\n,Anew Veracity LLC,NaN,Clinical Mental Health,VERA MOLINA,...,,,,,12/16/2024,12/16/2024,12/15/2025,62.0,Health Care and Social Assistance,2025-08-30 04:17:34
109613,HB-2025-384570,Home Business,HB,Active,Active,Michelle Douma \r\n,Michelle Douma,Montiveros,Counseling,Michelle Douma,...,,,,,01/02/2025,01/02/2025,01/05/2026,62.0,Health Care and Social Assistance,2025-08-30 04:17:36

In [ ]:
train_orig = pd.read_csv(train_path, encoding="utf-16", on_bad_lines="skip", delimiter='\t')
train_orig

/tmp/ipython-input-3835420498.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  train_orig = pd.read_csv(train_path, encoding="utf-16", on_bad_lines="skip", delimiter='\t')

,REGISTRATIONNUM,TYPE,TYPEABBREVIATION,STATUS,EFFECTIVESTATUS,OWNEDBY,LEGALNAME,DOINGBUSINESSAS,BUSINESSDESCRIPTION,CONTACTNAME,...,POST_DIRECTION,CITY,STATE,ZIP,ORIGNALISSUEDATE,MOSTRECENTISSUEDATE,EXPIRATIONDATE,NAICSCODE,NAICSCODESECTOR,FILEEXPORTDATE
0,HB-2017-347367,Home Business,HB,Expired,Expired,J A VARGAS CONSTRUCTION INC \r\n,J A VARGAS CONSTRUCTION INC,JUL HOMES,NaN,JULIAN A VARGAS,...,,,,,11/06/2017,09/19/2018,11/05/2019,23.0,Construction,2025-08-30 03:32:44
1,HB-2018-348267,Home Business,HB,Expired,Expired,ZULIA RAMOS MOLINA \r\n,ZULIA RAMOS MOLINA,ZULIA RAMOS MOLINA,NaN,ZULIA RAMOS MOLINA,...,,,,,01/16/2018,01/16/2018,01/15/2019,81.0,Other Services (except Public Administration),2025-08-30 03:32:44
2,BRC-2015-333714,Business Registration Conversion,BRC,Expired,Expired,MAGNUM INSURANCE \r\n,MAGNUM INSURANCE,MAGNUM INSURANCE,NaN,MAGNUM INSURANCE,...,,,,,07/01/2016,06/15/2017,07/08/2018,NaN,NaN,2025-08-30 03:32:47
3,HB-2023-375633,Home Business,HB,Expired,Expired,LIFTOFF LLC \r\n,LIFTOFF LLC,LIFTOFF LLC,NaN,JODY VALDEZ,...,,,,,05/08/2023,05/08/2023,05/07/2024,81.0,Other Services (except Public Administration),2025-08-30 03:32:52
4,HB-2023-373943,Home Business,HB,Active,Active,MICHAEL CASTILLO \r\n,"Noble Mechanical, llc",NaN,Mechanical Contractor,MICHAEL CASTILLO,...,,,,,01/23/2023,01/22/2024,01/22/2025,238.0,Construction,2025-08-30 03:32:54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109609,COM-2024-384043,Commercial,COM,Active,Active,Anthony Dickson \r\n,Anothony N Dickson,Outlaw Recovery and Towing,Towing company,Anthony Dickson,...,,,,,11/13/2024,11/13/2024,11/12/2025,81.0,Other Services (except Public Administration),2025-08-30 04:17:24
109610,HB-2024-383972,Home Business,HB,Active,Active,Rebeca Flores \r\n,Rebeca Flores,Flores House Cleaning,cleaning services,Rebeca Flores,...,,,,,11/06/2024,11/06/2024,11/05/2025,81.0,Other Services (except Public Administration),2025-08-30 04:17:25
109611,HB-2024-384461,Home Business,HB,Active,Active,Yoga with Cascade LLC \r\n,Yoga with Cascade LLC,NaN,Yoga Education Classes and Retreats,Cascade Lineback,...,,,,,12/19/2024,12/19/2024,12/18/2025,61.0,Educational Services,2025-08-30 04:17:31
109612,HB-2024-384417,Home Business,HB,Active,Active,Anew Veracity LLC \r\n,Anew Veracity LLC,NaN,Clinical Mental Health,VERA MOLINA,...,,,,,12/16/2024,12/16/2024,12/15/2025,62.0,Health Care and Social Assistance,2025-08-30 04:17:34
109613,HB-2025-384570,Home Business,HB,Active,Active,Michelle Douma \r\n,Michelle Douma,Montiveros,Counseling,Michelle Douma,...,,,,,01/02/2025,01/02/2025,01/05/2026,62.0,Health Care and Social Assistance,2025-08-30 04:17:36

In [ ]:
train = train_orig.copy()
train

,REGISTRATIONNUM,TYPE,TYPEABBREVIATION,STATUS,EFFECTIVESTATUS,OWNEDBY,LEGALNAME,DOINGBUSINESSAS,BUSINESSDESCRIPTION,CONTACTNAME,...,POST_DIRECTION,CITY,STATE,ZIP,ORIGNALISSUEDATE,MOSTRECENTISSUEDATE,EXPIRATIONDATE,NAICSCODE,NAICSCODESECTOR,FILEEXPORTDATE
0,HB-2017-347367,Home Business,HB,Expired,Expired,J A VARGAS CONSTRUCTION INC \r\n,J A VARGAS CONSTRUCTION INC,JUL HOMES,NaN,JULIAN A VARGAS,...,,,,,11/06/2017,09/19/2018,11/05/2019,23.0,Construction,2025-08-30 03:32:44
1,HB-2018-348267,Home Business,HB,Expired,Expired,ZULIA RAMOS MOLINA \r\n,ZULIA RAMOS MOLINA,ZULIA RAMOS MOLINA,NaN,ZULIA RAMOS MOLINA,...,,,,,01/16/2018,01/16/2018,01/15/2019,81.0,Other Services (except Public Administration),2025-08-30 03:32:44
2,BRC-2015-333714,Business Registration Conversion,BRC,Expired,Expired,MAGNUM INSURANCE \r\n,MAGNUM INSURANCE,MAGNUM INSURANCE,NaN,MAGNUM INSURANCE,...,,,,,07/01/2016,06/15/2017,07/08/2018,NaN,NaN,2025-08-30 03:32:47
3,HB-2023-375633,Home Business,HB,Expired,Expired,LIFTOFF LLC \r\n,LIFTOFF LLC,LIFTOFF LLC,NaN,JODY VALDEZ,...,,,,,05/08/2023,05/08/2023,05/07/2024,81.0,Other Services (except Public Administration),2025-08-30 03:32:52
4,HB-2023-373943,Home Business,HB,Active,Active,MICHAEL CASTILLO \r\n,"Noble Mechanical, llc",NaN,Mechanical Contractor,MICHAEL CASTILLO,...,,,,,01/23/2023,01/22/2024,01/22/2025,238.0,Construction,2025-08-30 03:32:54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109609,COM-2024-384043,Commercial,COM,Active,Active,Anthony Dickson \r\n,Anothony N Dickson,Outlaw Recovery and Towing,Towing company,Anthony Dickson,...,,,,,11/13/2024,11/13/2024,11/12/2025,81.0,Other Services (except Public Administration),2025-08-30 04:17:24
109610,HB-2024-383972,Home Business,HB,Active,Active,Rebeca Flores \r\n,Rebeca Flores,Flores House Cleaning,cleaning services,Rebeca Flores,...,,,,,11/06/2024,11/06/2024,11/05/2025,81.0,Other Services (except Public Administration),2025-08-30 04:17:25
109611,HB-2024-384461,Home Business,HB,Active,Active,Yoga with Cascade LLC \r\n,Yoga with Cascade LLC,NaN,Yoga Education Classes and Retreats,Cascade Lineback,...,,,,,12/19/2024,12/19/2024,12/18/2025,61.0,Educational Services,2025-08-30 04:17:31
109612,HB-2024-384417,Home Business,HB,Active,Active,Anew Veracity LLC \r\n,Anew Veracity LLC,NaN,Clinical Mental Health,VERA MOLINA,...,,,,,12/16/2024,12/16/2024,12/15/2025,62.0,Health Care and Social Assistance,2025-08-30 04:17:34
109613,HB-2025-384570,Home Business,HB,Active,Active,Michelle Douma \r\n,Michelle Douma,Montiveros,Counseling,Michelle Douma,...,,,,,01/02/2025,01/02/2025,01/05/2026,62.0,Health Care and Social Assistance,2025-08-30 04:17:36

In [ ]:
train.head()

,REGISTRATIONNUM,TYPE,TYPEABBREVIATION,STATUS,EFFECTIVESTATUS,OWNEDBY,LEGALNAME,DOINGBUSINESSAS,BUSINESSDESCRIPTION,CONTACTNAME,...,POST_DIRECTION,CITY,STATE,ZIP,ORIGNALISSUEDATE,MOSTRECENTISSUEDATE,EXPIRATIONDATE,NAICSCODE,NAICSCODESECTOR,FILEEXPORTDATE
0,HB-2017-347367,Home Business,HB,Expired,Expired,J A VARGAS CONSTRUCTION INC \r\n,J A VARGAS CONSTRUCTION INC,JUL HOMES,NaN,JULIAN A VARGAS,...,,,,,11/06/2017,09/19/2018,11/05/2019,23.0,Construction,2025-08-30 03:32:44
1,HB-2018-348267,Home Business,HB,Expired,Expired,ZULIA RAMOS MOLINA \r\n,ZULIA RAMOS MOLINA,ZULIA RAMOS MOLINA,NaN,ZULIA RAMOS MOLINA,...,,,,,01/16/2018,01/16/2018,01/15/2019,81.0,Other Services (except Public Administration),2025-08-30 03:32:44
2,BRC-2015-333714,Business Registration Conversion,BRC,Expired,Expired,MAGNUM INSURANCE \r\n,MAGNUM INSURANCE,MAGNUM INSURANCE,NaN,MAGNUM INSURANCE,...,,,,,07/01/2016,06/15/2017,07/08/2018,NaN,NaN,2025-08-30 03:32:47
3,HB-2023-375633,Home Business,HB,Expired,Expired,LIFTOFF LLC \r\n,LIFTOFF LLC,LIFTOFF LLC,NaN,JODY VALDEZ,...,,,,,05/08/2023,05/08/2023,05/07/2024,81.0,Other Services (except Public Administration),2025-08-30 03:32:52
4,HB-2023-373943,Home Business,HB,Active,Active,MICHAEL CASTILLO \r\n,"Noble Mechanical, llc",NaN,Mechanical Contractor,MICHAEL CASTILLO,...,,,,,01/23/2023,01/22/2024,01/22/2025,238.0,Construction,2025-08-30 03:32:54

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109614 entries, 0 to 109613
Data columns (total 26 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   REGISTRATIONNUM      109614 non-null  object
 1   TYPE                 109614 non-null  object
 2   TYPEABBREVIATION     109614 non-null  object
 3   STATUS               109614 non-null  object
 4   EFFECTIVESTATUS      109614 non-null  object
 5   OWNEDBY              109600 non-null  object
 6   LEGALNAME            109614 non-null  object
 7   DOINGBUSINESSAS      97351 non-null   object
 8   BUSINESSDESCRIPTION  78920 non-null   object
 9   CONTACTNAME          109614 non-null  object
 10  PRIMARYPHONE         109610 non-null  float64
 11  BUSINESSLOCATION     109614 non-null  object
 12  STREET_NUMBER        109614 non-null  object
 13  STREET_NAME          109614 non-null  object
 14  STREET_DIRECTION     109614 non-null  object
 15  STREET_TYPE          109614 non-null  object
 16  POST_DIRECTION       109614 non-null  object
 17  CITY                 109614 non-null  object
 18  STATE                109614 non-null  object
 19  ZIP                  109614 non-null  object
 20  ORIGNALISSUEDATE     109614 non-null  object
 21  MOSTRECENTISSUEDATE  109614 non-null  object
 22  EXPIRATIONDATE       109614 non-null  object
 23  NAICSCODE            43184 non-null   object
 24  NAICSCODESECTOR      43160 non-null   object
 25  FILEEXPORTDATE       109614 non-null  object
dtypes: float64(1), object(25)
memory usage: 21.7+ MB

In [ ]:
train.describe(include ="all").transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
REGISTRATIONNUM,109614,109614,HB-2025-384570,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TYPE,109614,5,Business Registration Conversion,66425,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TYPEABBREVIATION,109614,5,BRC,66425,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STATUS,109614,3,Closed,41896,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EFFECTIVESTATUS,109614,3,Closed,41896,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OWNEDBY,109600,99927,ALBUQUERQUE INTERNATIONAL BALLOON FIESTA,92,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LEGALNAME,109614,102695,ALBUQUERQUE INTERNATIONAL BALLOON FIESTA (2022),92,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DOINGBUSINESSAS,97351,92114,REDBOX AUTOMATED RETAIL LLC,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BUSINESSDESCRIPTION,78920,44041,CONSTRUCTION,932,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CONTACTNAME,109614,97594,BALLOON FIESTA,134,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PRIMARYPHONE,109610.0,NaN,NaN,NaN,4957026651.380478,1211600300.641108,0.0,5052709282.0,5054409988.0,5058314014.0,9898542221.0
BUSINESSLOCATION,109614,84062,"4401 ALAMEDA BLVD NE, Albuquerque, NM",281,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STREET_NUMBER,109614,1,,109614,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STREET_NAME,109614,1,,109614,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STREET_DIRECTION,109614,1,,109614,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STREET_TYPE,109614,1,,109614,NaN,NaN,NaN,NaN,NaN,NaN,NaN
POST_DIRECTION,109614,1,,109614,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CITY,109614,1,,109614,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STATE,109614,1,,109614,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZIP,109614,1,,109614,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ORIGNALISSUEDATE,109614,8145,04/01/2016,1674,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MOSTRECENTISSUEDATE,109614,4063,01/01/1900,31358,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EXPIRATIONDATE,109614,6761,11/11/2003,965,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NAICSCODE,43184.0,218.0,81.0,6286.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NAICSCODESECTOR,43160,20,Other Services (except Public Administration),10754,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FILEEXPORTDATE,109614,2700,2025-08-30 03:46:56,87,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
train.nunique().sort_values(ascending=False)

REGISTRATIONNUM        109614
LEGALNAME              102695
OWNEDBY                 99927
CONTACTNAME             97594
DOINGBUSINESSAS         92114
BUSINESSLOCATION        84062
PRIMARYPHONE            82714
BUSINESSDESCRIPTION     44041
ORIGNALISSUEDATE         8145
EXPIRATIONDATE           6761
MOSTRECENTISSUEDATE      4063
FILEEXPORTDATE           2700
NAICSCODE                 218
NAICSCODESECTOR            20
TYPEABBREVIATION            5
TYPE                        5
STATUS                      3
EFFECTIVESTATUS             3
CITY                        1
POST_DIRECTION              1
STREET_TYPE                 1
STREET_DIRECTION            1
STREET_NAME                 1
STREET_NUMBER               1
STATE                       1
ZIP                         1
dtype: int64

In [ ]:
train.size - train.isna().sum().sum()

np.int64(2674105)

In [ ]:
train.isna().sum().sum()

np.int64(175859)

In [ ]:
train['REGISTRATIONNUM'].nunique()

109614

InvalidIndexError: (0, slice(None, 1, None))

In [ ]:
bar = foo + '\b\b\b'
bar

NameError: name 'foo' is not defined

## Come up with questions about your data
Have a look at the Entity-Relation ( ER ) diagram to help come up with questions.

* What sort of information is in this dataset?
* How many records are there?
* How many different countries (states, counties, cities, etc) have records in this data set?


If you are stuck, here are some ideas for questions:
- https://github.com/LucasMcL/15-sql_queries_02-chinook/blob/master/README.md
- [Using the R language]( https://rpubs.com/enext777/636199 )
- [Search Google]( https://www.google.com/search?q=chinook+database+questions )

In [ ]:
!ls -la

total 1180
drwxr-xr-x 1 root root   4096 Oct 27 14:12 .
drwxr-xr-x 1 root root   4096 Oct 27 13:44 ..
-rw-r--r-- 1 root root 884736 Nov 29  2015 chinook.db
-rw-r--r-- 1 root root 305596 Oct 27 14:12 chinook.zip
drwxr-xr-x 4 root root   4096 Oct 23 13:40 .config
drwxr-xr-x 1 root root   4096 Oct 23 13:40 sample_data

In [ ]:
# Connect to a sqlite database and load a result set into a data frame
db_con = db.connect("chinook.db")

## Use SQL queries to pull specific information

Do NOT pull all the data and then filter using DataFrame methods etc. Make sure and use AT LEAST 13 of the 15 SQL options listed below. (You may have to get creative and come up with more questions to ask/answer.)

### Basic Queries

In [ ]:
# Select the first 10 entries from the employees table
query = '''
  select *
  from employees
  limit 10
'''

employees = pd.read_sql_query( query , db_con)
employees

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
5,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
6,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
7,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

In [ ]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EmployeeId  8 non-null      int64
 1   LastName    8 non-null      object
 2   FirstName   8 non-null      object
 3   Title       8 non-null      object
 4   ReportsTo   7 non-null      float64
 5   BirthDate   8 non-null      object
 6   HireDate    8 non-null      object
 7   Address     8 non-null      object
 8   City        8 non-null      object
 9   State       8 non-null      object
 10  Country     8 non-null      object
 11  PostalCode  8 non-null      object
 12  Phone       8 non-null      object
 13  Fax         8 non-null      object
 14  Email       8 non-null      object
dtypes: float64(1), int64(1), object(13)
memory usage: 1.1+ KB

In [ ]:
%%script sqlite3 --column --header chinook.db
.tables

albums          employees       invoices        playlists
artists         genres          media_types     tracks
customers       invoice_items   playlist_track

In [ ]:
%%script sqlite3 --column --header chinook.db
.stats

Memory Used:                         18368 (max 18384) bytes
Number of Outstanding Allocations:   224 (max 225)
Number of Pcache Overflow Bytes:     1032 (max 5136) bytes
Largest Allocation:                  4104 bytes
Largest Pcache Allocation:           4104 bytes
Lookaside Slots Used:                0 (max 0)
Successful lookaside attempts:       0
Lookaside failures due to size:      0
Lookaside failures due to OOM:       0
Pager Heap Usage:                    1848 bytes
Page cache hits:                     0
Page cache misses:                   0
Page cache writes:                   0
Page cache spills:                   0
Schema Heap Usage:                   0 bytes
Statement Heap/Lookaside Usage:      0 bytes
Bytes received by read():            13372
Bytes sent to write():               0
Read() system calls:                 20
Write() system calls:                0
Bytes read from storage:             0
Bytes written to storage:            0
Cancelled write bytes:               0

In [ ]:
%%script sqlite3 --column --header chinook.db
.help

.archive ...             Manage SQL archives
.auth ON|OFF             Show authorizer callbacks
.backup ?DB? FILE        Backup DB (default "main") to FILE
.bail on|off             Stop after hitting an error.  Default OFF
.binary on|off           Turn binary output on or off.  Default OFF
.cd DIRECTORY            Change the working directory to DIRECTORY
.changes on|off          Show number of rows changed by SQL
.check GLOB              Fail if output since .testcase does not match
.clone NEWDB             Clone data into NEWDB from the existing database
.connection [close] [#]  Open or close an auxiliary database connection
.databases               List names and files of attached databases
.dbconfig ?op? ?val?     List or change sqlite3_db_config() options
.dbinfo ?DB?             Show status information about the database
.dump ?OBJECTS?          Render database content as SQL
.echo on|off             Turn command echo on or off
.eqp on|off|full|...     Enable or disable automatic EXPLAIN QUERY PLAN
.excel                   Display the output of next command in spreadsheet
.exit ?CODE?             Exit this program with return-code CODE
.expert                  EXPERIMENTAL. Suggest indexes for queries
.explain ?on|off|auto?   Change the EXPLAIN formatting mode.  Default: auto
.filectrl CMD ...        Run various sqlite3_file_control() operations
.fullschema ?--indent?   Show schema and the content of sqlite_stat tables
.headers on|off          Turn display of headers on or off
.help ?-all? ?PATTERN?   Show help text for PATTERN
.import FILE TABLE       Import data from FILE into TABLE
.imposter INDEX TABLE    Create imposter table TABLE on index INDEX
.indexes ?TABLE?         Show names of indexes
.limit ?LIMIT? ?VAL?     Display or change the value of an SQLITE_LIMIT
.lint OPTIONS            Report potential schema issues.
.load FILE ?ENTRY?       Load an extension library
.log FILE|off            Turn logging on or off.  FILE can be stderr/stdout
.mode MODE ?TABLE?       Set output mode
.nonce STRING            Disable safe mode for one command if the nonce matches
.nullvalue STRING        Use STRING in place of NULL values
.once ?OPTIONS? ?FILE?   Output for the next SQL command only to FILE
.open ?OPTIONS? ?FILE?   Close existing database and reopen FILE
.output ?FILE?           Send output to FILE or stdout if FILE is omitted
.parameter CMD ...       Manage SQL parameter bindings
.print STRING...         Print literal STRING
.progress N              Invoke progress handler after every N opcodes
.prompt MAIN CONTINUE    Replace the standard prompts
.quit                    Exit this program
.read FILE               Read input from FILE
.recover                 Recover as much data as possible from corrupt db.
.restore ?DB? FILE       Restore content of DB (default "main") from FILE
.save FILE               Write in-memory database into FILE
.scanstats on|off        Turn sqlite3_stmt_scanstatus() metrics on or off
.schema ?PATTERN?        Show the CREATE statements matching PATTERN
.selftest ?OPTIONS?      Run tests defined in the SELFTEST table
.separator COL ?ROW?     Change the column and row separators
.session ?NAME? CMD ...  Create or control sessions
.sha3sum ...             Compute a SHA3 hash of database content
.shell CMD ARGS...       Run CMD ARGS... in a system shell
.show                    Show the current values for various settings
.stats ?ARG?             Show stats or turn stats on or off
.system CMD ARGS...      Run CMD ARGS... in a system shell
.tables ?TABLE?          List names of tables matching LIKE pattern TABLE
.testcase NAME           Begin redirecting output to 'testcase-out.txt'
.testctrl CMD ...        Run various sqlite3_test_control() operations
.timeout MS              Try opening locked tables for MS milliseconds
.timer on|off            Turn SQL timer on or off
.trace ?OPTIONS?         Output each SQL statement as it is run
.vfsinfo ?AUX?           Information about the top-level VFS
.vfslist                 List all available VFSes
.vfsname ?AUX?           Print the name of the VFS stack
.width NUM1 NUM2 ...     Set minimum column widths for columnar output

In [ ]:
%%script sqlite3 --column --header chinook.db
.indexes

IFK_AlbumArtistId                  IFK_PlaylistTrackTrackId
IFK_CustomerSupportRepId           IFK_TrackAlbumId
IFK_EmployeeReportsTo              IFK_TrackGenreId
IFK_InvoiceCustomerId              IFK_TrackMediaTypeId
IFK_InvoiceLineInvoiceId           sqlite_autoindex_playlist_track_1
IFK_InvoiceLineTrackId

In [ ]:
%%script sqlite3 --column --header chinook.db
.schema

CREATE TABLE IF NOT EXISTS "albums"
(
    [AlbumId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Title] NVARCHAR(160)  NOT NULL,
    [ArtistId] INTEGER  NOT NULL,
    FOREIGN KEY ([ArtistId]) REFERENCES "artists" ([ArtistId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE IF NOT EXISTS "artists"
(
    [ArtistId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Name] NVARCHAR(120)
);
CREATE TABLE IF NOT EXISTS "customers"
(
    [CustomerId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [FirstName] NVARCHAR(40)  NOT NULL,
    [LastName] NVARCHAR(20)  NOT NULL,
    [Company] NVARCHAR(80),
    [Address] NVARCHAR(70),
    [City] NVARCHAR(40),
    [State] NVARCHAR(40),
    [Country] NVARCHAR(40),
    [PostalCode] NVARCHAR(10),
    [Phone] NVARCHAR(24),
    [Fax] NVARCHAR(24),
    [Email] NVARCHAR(60)  NOT NULL,
    [SupportRepId] INTEGER,
    FOREIGN KEY ([SupportRepId]) REFERENCES "employees" ([EmployeeId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
);
CREATE TABLE IF NOT EXISTS "employees"
(
    [EmployeeId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [LastName] NVARCHAR(20)  NOT NULL,
    [FirstName] NVARCHAR(20)  NOT NULL,
    [Title] NVARCHAR(30),
    [ReportsTo] INTEGER,
    [BirthDate] DATETIME,
    [HireDate] DATETIME,
    [Address] NVARCHAR(70),
    [City] NVARCHAR(40),
    [State] NVARCHAR(40),
    [Country] NVARCHAR(40),
    [PostalCode] NVARCHAR(10),
    [Phone] NVARCHAR(24),
    [Fax] NVARCHAR(24),
    [Email] NVARCHAR(60),
    FOREIGN KEY ([ReportsTo]) REFERENCES "employees" ([EmployeeId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
);
CREATE TABLE IF NOT EXISTS "genres"
(
    [GenreId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Name] NVARCHAR(120)
);
CREATE TABLE IF NOT EXISTS "invoices"
(
    [InvoiceId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [CustomerId] INTEGER  NOT NULL,
    [InvoiceDate] DATETIME  NOT NULL,
    [BillingAddress] NVARCHAR(70),
    [BillingCity] NVARCHAR(40),
    [BillingState] NVARCHAR(40),
    [BillingCountry] NVARCHAR(40),
    [BillingPostalCode] NVARCHAR(10),
    [Total] NUMERIC(10,2)  NOT NULL,
    FOREIGN KEY ([CustomerId]) REFERENCES "customers" ([CustomerId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
);
CREATE TABLE IF NOT EXISTS "invoice_items"
(
    [InvoiceLineId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [InvoiceId] INTEGER  NOT NULL,
    [TrackId] INTEGER  NOT NULL,
    [UnitPrice] NUMERIC(10,2)  NOT NULL,
    [Quantity] INTEGER  NOT NULL,
    FOREIGN KEY ([InvoiceId]) REFERENCES "invoices" ([InvoiceId])
		ON DELETE NO ACTION ON UPDATE NO ACTION,
    FOREIGN KEY ([TrackId]) REFERENCES "tracks" ([TrackId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
);
CREATE TABLE IF NOT EXISTS "media_types"
(
    [MediaTypeId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Name] NVARCHAR(120)
);
CREATE TABLE IF NOT EXISTS "playlists"
(
    [PlaylistId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Name] NVARCHAR(120)
);
CREATE TABLE IF NOT EXISTS "playlist_track"
(
    [PlaylistId] INTEGER  NOT NULL,
    [TrackId] INTEGER  NOT NULL,
    CONSTRAINT [PK_PlaylistTrack] PRIMARY KEY  ([PlaylistId], [TrackId]),
    FOREIGN KEY ([PlaylistId]) REFERENCES "playlists" ([PlaylistId])
		ON DELETE NO ACTION ON UPDATE NO ACTION,
    FOREIGN KEY ([TrackId]) REFERENCES "tracks" ([TrackId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
);
CREATE TABLE IF NOT EXISTS "tracks"
(
    [TrackId] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    [Name] NVARCHAR(200)  NOT NULL,
    [AlbumId] INTEGER,
    [MediaTypeId] INTEGER  NOT NULL,
    [GenreId] INTEGER,
    [Composer] NVARCHAR(220),
    [Milliseconds] INTEGER  NOT NULL,
    [Bytes] INTEGER,
    [UnitPrice] NUMERIC(10,2)  NOT NULL,
    FOREIGN KEY ([AlbumId]) REFERENCES "albums" ([AlbumId])
		ON DELETE NO ACTION ON UPDATE NO ACTION,
    FOREIGN KEY ([GenreId]) REFERENCES "genres" ([GenreId])
		ON DELETE NO ACTION ON UPDATE NO ACTION,
    FOREIGN KEY ([MediaTypeId]) REFERENCES "media_types" ([MediaTypeId])
		ON DELETE NO ACTION ON UPDATE NO ACTION
);
CREATE INDEX [IFK_AlbumArtistId] ON "albums" ([ArtistId]);
CREATE INDEX [IFK_CustomerSupportRepId] ON "customers" ([SupportRepId]);
CREATE INDEX [IFK_EmployeeReportsTo] ON "employees" ([ReportsTo]);
CREATE INDEX [IFK_InvoiceCustomerId] ON "invoices" ([CustomerId]);
CREATE INDEX [IFK_InvoiceLineInvoiceId] ON "invoice_items" ([InvoiceId]);
CREATE INDEX [IFK_InvoiceLineTrackId] ON "invoice_items" ([TrackId]);
CREATE INDEX [IFK_PlaylistTrackTrackId] ON "playlist_track" ([TrackId]);
CREATE INDEX [IFK_TrackAlbumId] ON "tracks" ([AlbumId]);
CREATE INDEX [IFK_TrackGenreId] ON "tracks" ([GenreId]);
CREATE INDEX [IFK_TrackMediaTypeId] ON "tracks" ([MediaTypeId]);
CREATE TABLE sqlite_stat1(tbl,idx,stat);

#### SELECT (with * and with column names)

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT * FROM employees

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT LastName FROM employees

#### WHERE

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT LastName
FROM Employees
WHERE FirstName='Andrew'

#### AND

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT LastName
FROM Employees
WHERE Title='IT Staff' AND City='Lethbridge'

#### OR

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT LastName
FROM Employees
WHERE Title='IT Staff' OR Title = 'IT Manager'

#### LIKE (with % or _ wildcard)

In [ ]:
#Select Employees with a birthday in August

%%script sqlite3 --column --header chinook.db
SELECT LastName
FROM Employees
Where BirthDate Like "%-08-%"

#### BETWEEN

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT LastName
FROM employees
WHERE DATE(HireDate) BETWEEN '2003-01-01' AND '2004-01-01'

#### LIMIT

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT *
FROM tracks
LIMIT 10

### Sorting and Grouping

#### ORDER BY

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT *
FROM tracks
ORDER BY Milliseconds DESC
LIMIT 10

#### DISTINCT

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT DISTINCT GenreId
FROM tracks

#### GROUP BY

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT GenreId, AVG (Milliseconds)
FROM tracks
GROUP BY GenreId

### Aggregates

#### MAX

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT *, MAX(Bytes)
FROM tracks
WHERE GenreId=5

#### MIN

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT *, MIN(Milliseconds)
FROM tracks

#### SUM

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT SUM(Bytes)
FROM tracks

#### AVG

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT AVG(total)
FROM invoices

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT
   AVG(i.Total) AS AVERAGE,
   SUM(i.Total) AS SUM,
   SUM(i.Total)/COUNT(DISTINCT c.CustomerId) AS 'AVG Sales Per Customer'
FROM customers c
JOIN invoices i
on c.CustomerId = i.CustomerId

#### COUNT

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT
count (1)
FROM albums

## Make some plots

Make some cool plots to go with your data. Write SQL queries to get ONLY the information you need for each plot. (Don't pull ALL the data and then just plot a few columns.)

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT BillingCountry, COUNT(*)
FROM Invoices
GROUP BY 1
ORDER BY 2 DESC
LIMIT 10

In [ ]:
%%script sqlite3 --column --header chinook.db
SELECT
  e.FirstName || ' ' || e.LastName AS 'SalesRep',
  DATE(e.hiredate),
  COUNT(DISTINCT c.CustomerId) AS TotalCustomers,
  SUM(i.total) AS 'TotalSales'

FROM employees e
INNER JOIN Customers c
ON e.EmployeeId = c.SupportRepId

INNER JOIN Invoices i
ON c.CustomerId = i.CustomerId
GROUP BY SalesRep
ORDER BY TotalSales DESC

In [ ]:
query = '''
SELECT BillingCountry, COUNT(*) AS Count
FROM Invoices
GROUP BY 1
ORDER BY 2 DESC
LIMIT 10
'''

salesbycountry = pd.read_sql_query( query , db_con)
salesbycountry

In [ ]:
fig = px.bar(salesbycountry, x='BillingCountry', y='Count')
fig.show()

In [ ]:
query = '''
SELECT
  e.FirstName || ' ' || e.LastName AS 'SalesRep',
  DATE(e.hiredate) AS HireDate,
  COUNT(DISTINCT c.CustomerId) AS TotalCustomers,
  SUM(i.total) AS 'TotalSales'

FROM employees e
INNER JOIN Customers c
ON e.EmployeeId = c.SupportRepId

INNER JOIN Invoices i
ON c.CustomerId = i.CustomerId
GROUP BY SalesRep
ORDER BY TotalSales DESC
'''
top_sales = pd.read_sql_query( query , db_con)
top_sales

In [ ]:
fig = px.bar(top_sales, x='SalesRep', y='TotalSales')
fig.show()

## EXTRA CREDIT:
* Use a CTE
* Use a query that joins two or more tables.
* Make a model to see if you can predict something
* Come up with something else cool to do with your data

In [ ]:
# explicitly close the connection
# db_con.close()